@page
@model MyShoppingList.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Categories";
}

<div class="d-flex justify-content-between">
<h2>Categories</h2>
<p>
    <a asp-page="AddOrUpdate" asp-route-id="0" class="btn btn-primary">Create New</a>
</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories[0].Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./AddOrUpdate" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

